.our-service {
  display: flex;
  margin-left: 70px;
  flex-direction: row;
  padding: 6rem 0;
}
.our-service .service-car-image img {
  object-fit: contain;
  height: 400px;
}
.service-title h3 {
  background-color: rgba(146, 198, 233, 0.5);
  padding: 0.8rem;
  font-size: 17px;
  font-weight: 600;
  border-radius: 8px;
  color: rgb(51, 123, 206);
  width: fit-content;
  margin-bottom: 15px;
}
.service-details .service-title h1 {
  max-width: 400px;
}
.service-lists .lists {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
  margin: 20px 0;
}
.lists span {
  color: rgb(20, 117, 227);
  font-size: 1.7rem;
  width: 40px;
  text-align: center;
  padding-top: 5px;
  height: 40px;
  background-color: rgb(229, 229, 229);
  border-radius: 8px;
  margin: 10px;
}
.service-lists .services {
  display: flex;
  flex-direction: column;
}
.services p {
  max-width: 300px;
  color: grey;
}
@media (max-width: 768px) {
  .featured-vehicle {
    max-width: 100%;
  }
  .our-service {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 3rem 1rem;
    margin-left: 0;
  }
  .service-details .service-title h1 {
    max-width: 400px;
    font-size: 1.8rem;
    text-align: center;
  }
  .our-service .service-car-image img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
  .service-title h3 {
    background-color: rgba(146, 198, 233, 0.5);
    padding: 0.8rem;
    font-size: 17px;
    font-weight: 600;
    margin: auto;
    border-radius: 8px;
    color: rgb(51, 123, 206);
    width: fit-content;
    text-align: center;
    margin-bottom: 15px;
  }
}
